<h2 class="title">{{ 'label_title'|trans(locale, true) }}</h2>

<!-- Party attributes -->
<table class="bordered fat">
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="2">{{ 'label_supplier'|trans(locale) }}:</td>
        <td colspan="2">{{ 'supplier_title'|trans(locale) }}</td>
    </tr>
    <tr>
        <td colspan="2">{{ 'supplier_address'|trans(locale) }}</td>
    </tr>
    <tr>
        <td rowspan="3">{{ 'label_buyer'|trans(locale) }}:</td>
        <td colspan="2">{{ 'buyer_title'|trans(locale) }}</td>
    </tr>
    <tr>
        <td colspan="2">{{ 'buyer_address'|trans(locale) }}</td>
    </tr>
    <tr>
        <td colspan="2">{{ 'buyer_extra'|trans(locale)|nl2br }}</td>
    </tr>
</table>

<!-- Services table -->
<table class="bordered bordered-fully fat">
    <thead>
        <tr>
            <th>{{ 'label_th_number'|trans(locale) }}</th>
            <th>{{ 'label_th_name'|trans(locale) }}</th>
            <th>{{ 'label_th_amount'|trans(locale) }}</th>
            <th>{{ 'label_th_units'|trans(locale) }}</th>
            <th>{{ 'label_th_price'|trans(locale) }}</th>
            <th>{{ 'label_th_sum'|trans(locale) }}</th>
        </tr>
    </thead>
    <tbody>
    {% set total = 0 %}
    {% for service in services %}
        <tr>
            <td>{{ loop.index }}</td>
            <td width="60%">{{ service.name[context]|process(locale) }}</td>
            <td>{{ service.amount }}</td>
            <td>{{ service.units[context] }}</td>
            <td>{{ service.price }} {{ currency }}</td>
            {% set sum = service.amount * service.price %}
            <td>{{ sum }} {{ currency }}</td>
        </tr>
        {% set total = total + sum %}
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" align="right">{{ 'label_tf_total'|trans(locale) }}</td>
            <td>{{ total }} {{ currency }}</td>
        </tr>
    </tfoot>
</table>

<!-- Total to pay -->
<table class="fat">
    <tr>
        <td colspan="3">
            {{ 'label_total_to_pay'|trans(locale) }}: {{ total|ntw(locale) }} {{ currency|currency_name(locale) }}.
        </td>
    </tr>
</table>

<!-- Bank account data -->
<table id="bank-details" class="fat">
    <tr class="bordered">
        <td colspan="3"><strong>{{ 'label_supplier_account_data'|trans(locale) }}:</strong></td>
    </tr>
    <tr>
        <td>{{ 'label_supplier_account_number'|trans(locale) }}</td>
        <td colspan="2">{{ 'supplier_bank_account'|trans(locale) }}</td>
    </tr>
    <tr>
        <td colspan="3">{{ 'label_supplier_bank'|trans(locale) }}</td>
    </tr>
    <tr>
        <td colspan="3">{{ 'supplier_bank_name'|trans(locale) }}</td>
    </tr>
    <tr>
        <td>{{ 'label_supplier_bank_address'|trans(locale) }}</td>
        <td colspan="2">{{ 'supplier_bank_address'|trans(locale) }}</td>
    </tr>
    <tr>
        <td>{{ 'label_swift'|trans(locale) }}</td>
        <td colspan="2">{{ 'supplier_bank_swift'|trans(locale) }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'label_supplier_corr_bank'|trans(locale) }}</strong></td>
        <td colspan="2">{{ 'supplier_bank_corr_bank_name'|trans(locale) }}</td>
    </tr>
    <tr>
        <td>{{ 'label_swift'|trans(locale) }}</td>
        <td colspan="2">{{ 'supplier_bank_corr_bank_swift'|trans(locale) }}</td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3">{{ t.supplier.short_title }}</td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td height="50px">{{ 'label_signature'|trans(locale) }}</td>
        <td colspan="2" valign="bottom">
            <img src="{{ images.signature|data_uri(mime='image/png') }}" alt="Signature">
        </td>
    </tr>
    {% if images.stamp is defined %}
    <tr>
        <td colspan="3">
            <img src="{{ images.stamp|data_uri(mime='image/png') }}" alt="Stamp">
        </td>
    </tr>
    {% endif %}
</table>